#!/usr/bin/env zsh

# Core
alias shortcuts='bat ~/.aliases --color=always --style=plain | grep "alias" | sed s/alias// | fzf --ansi --border-label=" Aliases "'
alias shtcts='shortcuts'
alias v='nvim'
alias fm='yazi'
alias q='exit'

# Replacements
alias ls='eza -G --icons --group-directories-first --git --header'
alias la='eza -a --icons --group-directories-first --git --header'
alias ll='eza -l --icons --group-directories-first --git --header'
alias lsa='eza -al --icons --group-directories-first --git --header'
alias tree='eza -T --icons --git'
alias zz='cdi'
alias df='duf'
alias ps='procs'

# Utilities
alias todo='grep -rnw --color=auto TODO'
alias matrix='unimatrix -ab -c green -s 96'

# Git
alias ga='git add'
alias gp='git push'
alias gpl='git pull'
alias gpf='git push --force'
alias gaa='git add --all --verbose'
alias gap='git add --patch'
alias gau='git add --update'
alias gst='git status -u'
alias gdf='git diff'
alias gcm='git commit -m'
alias gco='git checkout'
alias gsw='git switch'
alias lgt='lazygit'

# Tmux
alias tdev='tmux-dev'
alias ta='tmux attach -t'
alias tls='tmux ls'
alias tk='tmux kill-session -t'

# System
alias vol='amixer set Master'
alias n='xdg-open . 2>/dev/null'
alias lock='xdg-screensaver lock'
