[Desktop Entry]
Name=Claude
GenericName=AI Assistant
Comment=Open Claude in a standalone window
Exec=chromium --app=https://claude.ai/new
Icon=claude
Type=Application
Categories=Network;Utility;
Terminal=false
Categories=Utils;
StartupWMClass=chrome-claude.ai__new-Default
