[Desktop Entry]
Type=Application
Name=Tdev
GenericName=Terminal Multiplexer
Comment=Launch Terminal Multiplexer
Exec=/home/marshall/.local/bin/tmux-dev
Icon=tmux
Terminal=true
Categories=Utility
Keywords=tmux;terminal;
StartupWMClass=kitty
StartupNotify=true
