[Desktop Entry]
Name=Whatsapp
GenericName=Chat & Voice
Comment=Open Whatsapp in a standalone window
Exec=chromium --app=https://web.whatsapp.com
Icon=whatsapp
Type=Application
Categories=Network;Utility;
StartupWMClass=chrome-web.whatsapp.com__-Default
Terminal=false
